#container {
  display: block;
  width: 500px;
  margin: 100px auto 0;
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

header {
	padding-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
	float: left;
	list-style: none;
	padding-top: 10px;
}

.clearfix {
	clear: both;
}

input, button {
	outline: none;
}

